h2.color-text-dark
    | Product details
p.color-text-medium
    .
        On colder-than-comfortable mornings, you'll love warming up in the Juno All-Ways Performanc Jacket, designed to compete with wind and chill. Built-in Cocona® technology aids evaporation, while a special zip placket and stand-up collar keep your neck protected.
        • Adjustable hood.
        • Fleece-lined, zippered hand pockets.
        • Thumbhole cuffs.
        • Full zip.
        • Mock-neck collar.
        • Machine wash/dry.

        Material Cocona® performance fabric, Fleece
        Style General Insulated, Jacket, Heavy Duty, Hard Shell, Full Zip, Reversible
        Climate Cold, Cool, Spring, Windy, Wintry
        Pattern Solid