html(ng-app='mainApp' lang='eng')
    head
        meta(charset='UTF-8')
        title
            | Product Page
        base(href='/')
        script(src='bundle.js')
        link(href='styles.css' rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet')
        link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.1.0/css/all.css' integrity='sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt' crossorigin='anonymous')
    body(ng-controller='index')
        header(show-right-panel='showRightPanel')
        right-panel(visible='isRightPanelVisible' view='rightPanelType')
        product-page
