.content-wrapper
    h1.color-text-dark We found other products you might like
    product-tiles(products = 'otherProducts')
    sales
    h1.color-text-dark Similar products
    product-tiles(products = 'similarProducts')