p
    span.color-text-light
        | Performance Fabrics / 
    span.color-text-medium
        | Juno Jacket
h1.color-text-dark
    | Juno Jacket
p.color-text-light
    | SKU: WJ06-XS-BLUE
p.color-text-dark
    | $94.71
p.color-text-medium
    span
        | Color 
    span.text-bold
        | Blue
div
    |colors selection
p.color-text-medium
    span
        | Size 
    span.text-bold
        | XS
div
    |Sizes selection
button
    | Add to cart
