p
    span.color-text-light
        | {{viewedProduct.category}} / 
    span.color-text-medium
        | {{viewedProduct.name}}
h1.color-text-dark
    | {{viewedProduct.name}}
p.color-text-light
    | SKU: {{viewedProduct.sku}}-{{viewedProduct.sizes[sizeId]|uppercase}}-{{viewedProduct.colors[colorId].name|uppercase}}
h2.color-text-dark
    | {{viewedProduct.price|formatPrice}}

product-color-dialer(colors='viewedProduct.colors' set-product-color='setProductColor')
product-size-dialer(sizes='viewedProduct.sizes' set-product-size='setProductSize')
button.add-to-cart(ng-click='addToCart()')
    | Add to cart
