div(ng-click='setViewedProduct(product)')
    a(ng-class='{sale : product.sale}')
        img.picture(src=require('assets/placeholderProductImage.png'))
p.color-text-medium
    | {{product.name}}
p.color-text-light
    | {{product.price|formatPrice}}