h1
    | Shopping list
.shopping-item(ng-repeat='order in shoppingList')
    img.photo(src=require('assets/placeholderProductImage.png'))
    .info
        h2
            | {{order.product.name}}
        p
            | {{order.sku}}
        p
            | Color: {{order.color}}
        p
            | Size: {{order.size}}
        p
            | In stock!
        p
            | Qty: {{order.quantity}}
    div
        span.real-price
            | {{order.getPriceWithDiscount() | formatPrice}}
        span.price-without-discount
            | {{order.getPriceWithoutDiscount() | formatPrice}}
h1
    | Shopping summary
p
    | Subtotal: {{subtotal|formatPrice}}
p
    | Shipping and handling: {{shippingPrice|formatPrice}}
p
    | Discount: {{discount|formatPrice}}
p
    | Tax: {{tax}}
h1
    | Grand Total {{totalPrice}}
big-button(text='CHECKOUT_LABEL')
